---
import Layout from '~layouts/Layout.astro'
---

<Layout
  title='Mission'
  class='container mx-auto px-5 text-xl text-slate-300 md:text-2xl lg:text-4xl'
>
  <!-- mission -->
  <section
    id='mission'
    class='flex min-h-screen flex-col justify-center gap-6 pb-16 pt-20 text-center md:gap-8 md:pt-28 lg:gap-12'
  >
    <h2
      class='text-gradient text-center font-title text-7xl font-extrabold uppercase leading-none tracking-tight text-white md:text-8xl xl:text-9xl uppercase'
    >
      mission
    </h2>
    <p>
      In this age of disruption and complexity, when our differences are used to keep us separate,
      one of the most courageous things we can do is to show up for others with authenticity,
      vulnerability and openness.
    </p>
    <p>
      Whether or not we recognize it on a daily basis, we are all deeply interconnected. WhoCards'
      mission is to strengthen the authenticity of that interconnectedness, because we believe that
      a sense of honest homecoming to ourselves and each other has the power to spark a light strong
      enough to lead us out from anxiety and loneliness towards belonging and love.
    </p>
    <p>
      We believe that by speaking what's true for us and actively listening to others as they do the
      same, we can quiet the noise of the world and enter the warm hum of mutuality.
    </p>
    <h3 class='text-primary-light'>
      Alchemy occurs: Two anxious “I”s morph quickly into a relaxed and delighted “We.”
    </h3>
  </section>
</Layout>
