---
import Printer from '~components/Print'
import Layout from '~layouts/Layout.astro'
---

<Layout title='Print' showLangModal>
  <section
    class='mx-6 flex min-h-screen flex-col items-center gap-6 pt-20 pb-16 md:gap-8 md:pt-28 md:pb-8 lg:gap-12 lg:pb-0'
  >
    <Printer client:load />
  </section>
</Layout>
