---
export const prerender = false

import {OrderDetails} from '~components/thanks'
import EmailForm from '~components/thanks/EmailForm.astro'
import Layout from '~layouts/Layout.astro'
import {getPurchaseById, type FullPurchase, type PurchaseSelect} from '~server/db'

let data: FullPurchase
let purchase: PurchaseSelect
let quantity: number

// get purchase id from url
const purchaseId = Astro.url.searchParams.get('session_id') ?? ''
const confirmed = true

if (!purchaseId) {
  return Astro.redirect('/')
}

// get data from db
try {
  data = await getPurchaseById(purchaseId)
  if (!data) throw new Error('Purchase not found')
  purchase = data.purchase
  console.log(JSON.stringify(data, null, 2))
} catch (error) {
  console.error((error as Error).message)
  return Astro.redirect('/contact')
}
---

<Layout title='Thank You!' class='pt-28 lg:pt-32'>
  <div
    class='grid grid-flow-row md:grid-flow-col md:grid-cols-2 md:px-[2vw] lg:max-w-5xl px-5 lg:px-0 w-full justify-between gap-8'
  >
    <OrderDetails purchase={purchase} class={confirmed ? 'hidden md:flex' : ''} />
    <div class='border-transparent rounded-xl p-5'>
      <EmailForm data={data} />
    </div>
  </div>
</Layout>
