---
import {Content, frontmatter} from '~assets/legal/pp.md'
import Layout from '~layouts/Layout.astro'
---

<Layout
  title={frontmatter.title}
  class='container mx-auto px-5 text-md text-slate-300 md:text-xl lg:text-2xl list-disc list-inside'
>
  <section
    class='flex min-h-screen flex-col justify-center gap-6 pb-16 pt-20 md:gap-8 md:pt-28 lg:gap-12'
  >
    <h1
      class='text-gradient text-center font-title text-7xl font-extrabold uppercase leading-none tracking-tight text-white md:text-8xl xl:text-9xl'
    >
      {frontmatter.title}
    </h1>
    <Content />
  </section>
</Layout>

<style is:global>
  @reference "../../styles/base.css";
  ul {
    @apply list-inside list-disc;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
</style>
